@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "GeneralSans-Variable";
  src: url("../fonts/GeneralSans-Variable.woff2") format("woff2");
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "InterDisplay";
  src: url("../fonts/InterDisplay-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "InterDisplay";
  src: url("../fonts/InterDisplay-Medium.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "InterDisplay";
  src: url("../fonts/InterDisplay-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "InterDisplay";
  src: url("../fonts/InterDisplay-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "InterDisplay";
  src: url("../fonts/InterDisplay-Italic.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: "InterDisplay";
  src: url("../fonts/InterDisplay-MediumItalic.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: "Inter-Variable";
  src: url("../fonts/InterVariable.woff2") format("woff2");
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Inter-Variable";
  src: url("../fonts/InterVariable-Italic.woff2") format("woff2");
  font-weight: 100 900;
  font-display: swap;
  font-style: italic;
}

@layer base {
  :root {
    --highlight: 234 100% 98%;
    --highlight-foreground: 205 61% 28%;

    --background: 0 0% 100%;
    --foreground: 240 10% 4%;

    --primary: 240 6% 10%;
    --primary-foreground: 0 0% 98%;

    --secondary: 240 5% 96%;
    --secondary-foreground: 240 6% 10%;

    --muted: 240 5% 96%;
    --muted-foreground: 240 4% 46%;

    --accent: 240 5% 96%;
    --accent-foreground: 240 6% 10%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 4%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 4%;

    --destructive: 0 93% 94%;
    --destructive-foreground: 0 70% 35%;
    --destructive-border: 0 91% 71%;

    --warning: 55 97% 88%;
    --warning-foreground: 32 81% 29%;
    --warning-border: 48 96% 53%;

    --success: 141 84% 93%;
    --success-foreground: 143 64% 24%;
    --success-border: 142 69% 58%;

    --border: 240 6% 90%;
    --input: 240 6% 90%;
    --ring: 240 5% 65%;
  }

  .dark {
    --highlight: 205 18% 15%;
    --highlight-foreground: 205 62% 86%;

    --background: 240 10% 4%;
    --foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 240 6% 10%;

    --secondary: 240 4% 16%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 4% 16%;
    --muted-foreground: 240 5% 65%;

    --accent: 240 6% 10%;
    --accent-foreground: 0 0% 98%;

    --popover: 240 10% 4%;
    --popover-foreground: 0 0% 98%;

    --card: 240 10% 4%;
    --card-foreground: 0 0% 98%;

    --destructive: 0 70% 35%;
    --destructive-foreground: 0 93% 94%;
    --destructive-border: 0 91% 71%;

    --warning: 32 81% 29%;
    --warning-foreground: 55 97% 88%;
    --warning-border: 48 96% 53%;

    --success: 143 64% 24%;
    --success-foreground: 141 84% 93%;
    --success-border: 142 69% 58%;

    --border: 240 4% 16%;
    --input: 240 4% 16%;
    --ring: 240 5% 84%;
  }
}

@layer base {
  * {
    @apply box-border border-border;
  }

  html {
    @apply scroll-smooth;
  }

  body {
    @apply bg-background font-sans text-foreground;
    font-feature-settings:
      "rlig" 1,
      "calt" 1;
  }

  prev > code span {
    @apply font-mono;
  }
}

@layer utilities {
  .container-docs {
    @apply w-screen px-5 3xl:mx-[calc((100vw-1352px)/2)] 3xl:max-w-[1352px] 4xl:px-0;
  }

  .step {
    counter-increment: step;
  }

  .step::before {
    @apply absolute -mt-1 ml-[-50px] inline-flex size-9 items-center justify-center rounded-full border-4 border-background bg-muted text-4 text-muted-foreground;
    content: counter(step);
  }

  .h3-next-p + p {
    @apply mt-3;
  }
}
