@import "tailwindcss";

@config '../../tailwind.config.ts';

@theme {
  --text-2-5: 0.625rem;
  --text-2-5--line-height: 0.875rem;
  --text-3: 0.75rem;
  --text-3--line-height: 1rem;
  --text-3-5: 0.875rem;
  --text-3-5--line-height: 1.25rem;
  --text-4: 1rem;
  --text-4--line-height: 1.5rem;
  --text-4-5: 1.125rem;
  --text-4-5--line-height: 1.75rem;
  --text-5: 1.25rem;
  --text-5--line-height: 1.75rem;
  --text-6: 1.5rem;
  --text-6--line-height: 2rem;
  --text-7: 1.75rem;
  --text-7--line-height: 2.25rem;
  --text-8: 2rem;
  --text-8--line-height: 2.25rem;
  --text-9: 2.25rem;
  --text-9--line-height: 2.5rem;
  --text-10: 2.5rem;
  --text-10--line-height: 3rem;
  --text-11: 2.75rem;
  --text-11--line-height: 3.25rem;
  --text-12: 3rem;
  --text-12--line-height: 3.5rem;
  --text-13: 3.25rem;
  --text-13--line-height: 3.75rem;
  --text-14: 3.5rem;
  --text-14--line-height: 4rem;
  --text-15: 3.75rem;
  --text-15--line-height: 4.25rem;
  --text-16: 4rem;
}

@utility step {
  counter-increment: step;

  &::before {
    @apply border-background bg-muted text-4 text-muted-foreground absolute -mt-1.5 -ml-[50px] inline-flex size-9 items-center justify-center rounded-full border-4;
    content: counter(step);
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 4%;

    --primary: 240 6% 10%;
    --primary-foreground: 0 0% 98%;

    --secondary: 240 5% 100%;
    --secondary-foreground: 240 6% 10%;

    --muted: 240 5% 96%;
    --muted-foreground: 240 4% 46%;

    --accent: 240 5% 96%;
    --accent-foreground: 240 6% 10%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 4%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 4%;

    --destructive: 0 100% 97%;
    --destructive-foreground: 0 100% 45%;
    --destructive-border: 358 100% 94%;

    --warning: 48 100% 97%;
    --warning-foreground: 31 92% 45%;
    --warning-border: 49 91% 91%;

    --success: 145 81% 96%;
    --success-foreground: 140 100% 27%;
    --success-border: 146 91% 91%;

    --info: 208 100% 97%;
    --info-foreground: 210 92% 45%;
    --info-border: 221 91% 91%;

    --border: 240 6% 90%;
    --input: 240 6% 90%;
    --ring: 240 5% 65%;

    --chart-1: 173 58% 39%;
    --chart-2: 12 76% 61%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;

    --sh-class: #267f99;
    --sh-identifier: #0070c1;
    --sh-sign: #444444;
    --sh-property: #0000ff;
    --sh-entity: #001080;
    --sh-jsxliterals: #811f3f;
    --sh-string: #a31515;
    --sh-keyword: #0000ff;
    --sh-comment: #008000;
  }

  .dark {
    --background: 240 10% 4%;
    --foreground: 180 7% 97%;

    --primary: 180 7% 97%;
    --primary-foreground: 240 6% 10%;

    --secondary: 240 4% 16%;
    --secondary-foreground: 180 7% 97%;

    --muted: 240 4% 16%;
    --muted-foreground: 240 5% 65%;

    --accent: 240 6% 10%;
    --accent-foreground: 180 7% 97%;

    --popover: 240 10% 4%;
    --popover-foreground: 180 7% 97%;

    --card: 240 10% 4%;
    --card-foreground: 180 7% 97%;

    --destructive: 358 76% 10%;
    --destructive-foreground: 358 100% 81%;
    --destructive-border: 357 90% 16%;

    --warning: 64 100% 6%;
    --warning-foreground: 46 87% 65%;
    --warning-border: 60 100% 12%;

    --success: 149 100% 6%;
    --success-foreground: 150 87% 65%;
    --success-border: 148 100% 12%;

    --info: 215 100% 6%;
    --info-foreground: 216 87% 65%;
    --info-border: 223 100% 12%;

    --border: 240 4% 16%;
    --input: 240 4% 16%;
    --ring: 240 5% 84%;

    --chart-1: 220 70% 50%;
    --chart-2: 340 75% 55%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 160 60% 45%;

    --sh-class: #4ec9b0;
    --sh-identifier: #9cdcfe;
    --sh-sign: #cccccc;
    --sh-property: #4fc1ff;
    --sh-entity: #36f9f6;
    --sh-jsxliterals: #c586c0;
    --sh-string: #ce9178;
    --sh-keyword: #569cd6;
    --sh-comment: #6a9955;
  }

  * {
    @apply border-border;
  }

  body {
    font-feature-settings:
      "rlig" 1,
      "calt" 1;
  }
}
